# IDE/Code editors
.vscode
.idea

# Dependency directories
node_modules

# Optional npm cache directory
.npm
.npm-cache

# Optional eslint cache
.eslintcache

# OS
.DS_Store

# dotenv environment variables file
.env

config.json
deploy_config.yaml

# build output
build
dist
tool
coverage
configs

# TypeScript cache
*.tsbuildinfo

# Temporally directory
tmp

runner-artifacts
